@(tasks: List[Task], taskForm: Form[String])

@import helper._

@main("TinyUrl Experiment") {

	<h1>@tasks.size task(s)</h1>
	
	<ul>
		@tasks.map { task =>
			<li>
				@task.hash
				
				@form(routes.Application.deleteTask(task.hash)) {
					<input type="submit" value="Delete">
				}
			</li>
		}
	</ul>
	
	<h2>Add a new tinyUrl</h2>
	
	@form(routes.Application.newTask) {
		
			@inputText(taskForm("url"))
			
			<input type="submit" value="Create">
			
		}
	
	<h2>Retrieve Url for Hash</h2>

    <form action="/redirect" method="GET" >
		Enter hash here: <input type="text" name="hash">
  	    <button type="submit" class="textBox">Retrieve Url</button>
	</form>
}